@font-face {
	font-family: 'Carolingia';
	src: url('Ressourcen/Carolingia.woff') format('woff');
}

.example {
	border-style: outset;
	background-color: khaki;
}

.interjection {
	border-style: dashed;
	border-color: lightgray;
	color: gray;
}

.remark {
	background-color: yellow;
}

.footnote {
	font-size: 75%;
	background: lightgray;
}

.footnote:before {
	content: "["
}

.footnote:after {
	content: "]"
}

body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	margin: 0;
	text-align: justify;
	font-size: 12pt;
	line-height: 1.5;
}

@media screen {
	body {
		padding: 0.5rem;
	}
	@media ( min-width : 65rem) {
		html {
			background: lightgray;
		}
		body {
			background: white;
			width: 60rem;
			border: 0.1rem solid gray;
			margin: 1rem auto;
		}
	}
}

figure>p {
	margin: 0;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th {
	color: white;
	background-color: black;
}

tr.gray {
	background-color: lightgray;
}

th, td {
	height: 2rem;
	text-align: center;
}

table, th, td {
	border: 1px solid;
}

/* TOC */
nav ol, nav ul {
	margin: 0;
}

nav>ol, nav>ul {
	padding-left: 0;
}

nav li {
	margin: 0.25em 0 0.25em 0;
}

nav ol {
	list-style-position: inside;
}

nav ul {
	list-style-type: none;
	list-style-position: outside;
}

nav ol.A {
	list-style-type: upper-alpha;
}

/* Chapter headings */
section:target>h1 {
	color: #007D50;
}

h1, th {
	font-family: Carolingia, Arial, sans-serif;
	font-weight: normal;
}

body>*>section>h1 {
	font-size: 2.2rem;
	margin-bottom: 1.3rem;
	text-align: center;
}

body>*>section>section>h1 {
	font-size: 1.9rem;
	margin-bottom: 1.2rem;
}

body>*>section>section>section>h1 {
	font-size: 1.6rem;
	margin-bottom: 1.1rem;
}

body>*>section>section>section>section>h1 {
	font-size: 1.3rem;
	margin-bottom: 1rem;
}

/* Chapter numbering */
body>* {
	counter-reset: level1 level2 level3 level4;
}

body>*>section {
	counter-increment: level1;
	counter-reset: level2 level3 level4;
}

body>*>section>section {
	counter-increment: level2;
	counter-reset: level3 level4;
}

body>*>section>section>section {
	counter-increment: level3;
	counter-reset: level4;
}

body>*>section>section>section>section {
	counter-increment: level4;
}

main>section>h1:before {
	content: "Kapitel " counter(level1) ": ";
}

#appendices>section>h1:before {
	content: "Anhang " counter(level1, upper-latin) ": ";
}

/* Reserve space for numbering chapter levels 2 and below */
main>section>section h1:before {
	float: left;
	width: 3.5rem;
}

main>section>section>h1:before {
	content: counter(level1) "." counter(level2) " ";
}

main>section>section>section>h1:before {
	content: counter(level1) "." counter(level2) "." counter(level3) " ";
}

main>section>section>section>section>h1:before {
	content: counter(level1) "." counter(level2) "." counter(level3) "."
		counter(level4) " ";
}

/* Print/PDF styles */
@media print {
	main>section+section {
		page-break-before: always;
	}
}