@font-face {
	font-family: 'BlackChancery';
	src: url('BlackChancery.woff') format('woff');
}

@font-face {
	font-family: 'Carolingia';
	src: url('Carolingia.woff') format('woff');
}

@font-face {
	font-family: 'TeX Gyre Chorus medium italic';
	src: url('texgyrechorus-mediumitalic.woff') format('woff');
}

a:link, a:visited {
	color: #00E;
}

.examplebox, .example {
    width: 90%;
    margin: 2em auto;
    border-radius: 1em;
    padding: 0.1em 1.2em;
    background-color: hsl(54, 77%, 80%);
}

.example {
	font-family: 'TeX Gyre Chorus medium italic';
	font-size: 1.1rem;
}

.example em {
    font-style: normal;
    font-variant: small-caps;
}

tr.highlight td:first-child,
span.highlight {
    color: hsl(32, 94%, 45%);
    font-weight: bold;
}

/* Footnotes */
a[rel=footnote], a[rel=reference] {
	text-decoration: none;
	color: inherit;
}


body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	margin: 0;
	text-align: justify;
	font-size: 12pt;
	line-height: 1.5;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
    position: relative;
}

figure>p {
	margin: 0;
}

table {
	border-collapse: collapse;
	width: 100%;
}

figure.sidebar, figure.large-sidebar {
    float: right;
    margin-top: 0;
    margin-right: 0;
}
figure.sidebar {
    width: 33%;
}
figure.large-sidebar {
    width: 50%;
}

td[rowspan] {
	vertical-align: middle;
}

section {
	clear: both;
}

table + table {
    margin-top: 1rem;
}

tr.gray {
    color: gray;
}

td, th {
    padding: 0.4rem;
}

thead th {
    padding: 0 0.3rem 0.2rem 0.3rem;
    text-align: center;
    white-space: nowrap;
    font-size: 1.1rem;
}

thead tr:nth-last-child(n+2) th:not([rowspan]) {
    padding-bottom: 0;
}

tbody td {
	vertical-align: top;
    text-align: center;
}

figure tbody tr:nth-child(odd) {
    background: hsl(195, 53%, 90%);
}
figure tbody tr:nth-child(even) {
    background: hsl(195, 53%, 95%);
}

.example figure tbody tr, .examplebox figure tbody tr {
    background: transparent;
}

#schadensleiste tr {
    background: transparent;
}

table.scale {
    table-layout: fixed;
}
table.scale td:nth-child(odd) {
    background: hsl(195, 53%, 90%);
}
table.scale td:nth-child(even) {
    background: hsl(195, 53%, 95%);
}

table.itemlist td:first-child,
table.itemlist th:first-child {
	text-align: left;
    white-space: nowrap;
}

table.segmented tbody th {
    font-style: italic;
}

table.segmented tbody td:first-child {
    padding-left: 1.75em;
}

table.separate-first-cell thead tr:first-child th:first-child,
table.separate-first-cell tbody td:first-child {
	border-right: 1px solid black;
}

table.extra-space {
	margin: 2em 0 2em 0;
}

tr.combined td {
	vertical-align: middle;
}

td span.details {
	font-size: 75%;
    color: gray;
	margin-left: 1.5em;
    display: inline-block;
}

td.fake-rowspan {
    padding: 0;
    vertical-align: bottom;
    transform: translateY(20%);
}

.icon {
    width: 1.25em;
    padding: 0.07em;
    border: solid gray;
}

.icon.hasnext {
    border-right: none;
}

.icon.hasprevious {
    border-left: none;
}

.damagebox {
	width: 1.5em;
}

h1 .icon {
	position: relative;
	top: 0.45em;
}

p .icon, td .icon {
	position: relative;
	top: 0.35em;
}

table.itemlist td:first-child .icon {
    float: left;
    margin-right: 0.5em;
    top: 0;
}

/* Definition lists */
dt {
	font-weight: bold;
}

dd>p {
	margin-top: 0;
}

dd {
	margin-bottom: 1em;
}

/* Bullet lists */
ul {
    margin-bottom: 1em;
}

p + ul, div.connected ul {
	margin-top: 0;
}

p:not(:last-child) {
	margin-bottom: 0;
}

li p:only-child, li ul {
	margin: 0;
}

/* TOC */
nav ol, nav ul {
	margin: 0;
}

nav>ol, nav>ul {
	padding-left: 0;
}

nav li {
	margin: 0.25em 0 0.25em 0;
}

nav .collapsed>ol, nav .collapsed>ul {
	display: none;
}

.collapsed>.toggler .fa-minus {
	display: none;
}

.expanded>.toggler .fa-plus {
	display: none;
}

nav ol {
	list-style-position: inside;
}

nav ul {
	list-style-type: none;
	list-style-position: outside;
}

nav ol.A {
	list-style-type: upper-alpha;
}

nav a:target {
	background-color: lightblue;
}

/* Chapter headings */
h1, thead th {
	font-family: BlackChancery, Arial, sans-serif;
	font-weight: normal;
}

body section h1 {
	font-size: 1.9rem;
	margin-bottom: 1.3rem;
	text-align: center;
}

body section section h1 {
	font-size: 1.7rem;
	margin-bottom: 1.0rem;
    text-align: left;
}

body section section section h1 {
	font-size: 1.5rem;
	margin-bottom: 0.9rem;
}

body section section section section h1 {
	font-size: 1.3rem;
	margin-bottom: 0.8rem;
}

body section section section section section h1 {
	font-size: 1.1rem;
	margin-bottom: 0.7rem;
}

/* Chapter numbering */
body > * {
	counter-reset: level1 level2 level3 level4;
}

body section {
	counter-increment: level1;
	counter-reset: level2 level3 level4;
}

body section section {
	counter-increment: level2;
	counter-reset: level3 level4;
}

body section section section {
	counter-increment: level3;
	counter-reset: level4;
}
body section section section section {
    counter-increment: level4;
    counter-reset: none;
}
body section section section section section {
    counter-increment: none;
}

main > section > h1:before {
	content: "Teil " counter(level1) ": ";
}

#appendices>section>h1:before {
	content: "Anhang " counter(level1, upper-latin) ": ";
}

main section section > h1:before {
	content: counter(level1) "." counter(level2) " ";
    padding-right: 0.5em;
}

main section section section > h1:before {
	content: counter(level1) "." counter(level2) "." counter(level3) " ";
}

main section section section section > h1:before {
    content: counter(level1) "." counter(level2) "." counter(level3) "." counter(level4) " ";
}

main section section section section section > h1:before {
    content: inherit;
}

section.effect > h1:before {
	content: "Effekt: "
}

/* Navigation aids, expandable TOC */
h1 .buttons {
    position: absolute;
    right: 0.2rem;
    opacity: 0.25;
}

h1 .buttons:hover {
    opacity: 1;
}

nav .toggler {
	position: absolute;
	padding-left: 0.2em;
}

h1 .buttons .fa {
    font-size: 1.5rem;
}

h1 .buttons .fa, nav .toggler .fa {
	padding: 0.2em 0.25em 0.15em 0.25em;
	cursor: pointer;
	background: lightblue;
	border-radius: 0.2em;
	margin: 0 0.1em;
}

h1 .buttons .break {
	padding: 0 0.2em;
}

#indexContents {
	display: table;
	margin: 0 auto;
}

#indexContents h1 {
	text-align: center;
}

dfn {
	font-weight: bold;
	font-style: normal;
}

h1 dfn, td dfn {
	font-weight: inherit;
	font-style: inherit;
}

div.side-by-side {
    display: flex;
    flex-wrap: wrap;

    /* fall back to space-around for Prince which does not support space-evenly */
    justify-content: space-around;
    justify-content: space-evenly;

    align-items: flex-start;
}

div.side-by-side > * {
    flex-basis: content;
}

/* Debugging */

.temp-note {
    background: yellow;
    font-family: serif;
    font-weight: bold;
}

a:empty::before {
	/* display something if script for link labels did not run */
	content: "{" attr(href) "}";
	color: red;
}

a:empty::after {
    /* display something if script for link labels did not run */
    content: "";
}